dj_database_url==0.5.0
django_phonenumber_field==5.1.0
django_allauth==0.44.0
Django==3.2.4
numpy==1.20.2
stripe==2.59.0
django_rest_auth==0.9.5
django_heroku==0.3.1
djangorestframework==3.12.4
python-dotenv==0.19.0
