<!--timelyapp/templates/navbar.html-->


 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="{% url 'home' %}">Timely</a>

     <div id="navbarNav">
         <ul class="navbar-nav">
             {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>

                 {% if user.is_authenticated and current_business %}
                    <a class="nav-link" href="{% url 'payables' %}">Payables</a>
                    <a class="nav-link" href="{% url 'receivables' %}">Receivables</a>
                    <a class="nav-link" href="{% url 'new_invoice' %}">New Invoice</a>
                    <a class="nav-link" style="color: white">Logged in: {{current_user}} of {{current_business}}</a>
                 {% else %}
                    <a class="nav-link" href="{% url 'new_business' %}">Register business</a>
                 {% endif %}

             {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
             {% endif %}
         </ul>

     </div>
 </nav>
